<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="img/favicon.svg" sizes="any" type="image/svg+xml">

        <!-- Boostrap CSS -->
        <link rel="stylesheet" type="text/css" href="3rd/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="3rd/css/daterangepicker.css" />

        <!-- Fontawesome CSS -->
        <link rel="stylesheet" type="text/css" href="3rd/css/fontawesome.css"/>

        <!-- App CSS -->
        <link rel="stylesheet" type="text/css" href="css/app.css">

        <title>{{ translate "Registration" }}</title>

    </head>

    <body class="panel-page">

        <div class="container">

        <div class="row row justify-content-center vh-93">
            <div class="col-sm-5 align-self-center">
                <div class="panel panel-default mx-auto">
                    <div class="panel-body">

                            <div class="row justify-content-center">
                                <div class="col-10">
                                    <img class="logo w-100" src="img/logo-color-120.png" alt="Lightmeter logo">
                                </div>
                            </div>

                            <h2>{{translate "Welcome"}}</h2>
                            <p>{{translate "Please create a new administrator account - this is necessary to login."}}
                            <a href="https://gitlab.com/lightmeter/controlcenter#upgrade">{{translate "Get help"}}</a>
                            {{translate "to avoid repeating this step if you've done it before"}}</p>

                            <div class="field-group">
                              <h4>{{translate "User details"}}</h4>
                                <form method="post" id="form"></form>
                                <form method="post" id="settingsForm"></form>

                                <div class="form-group">

                                  <label for="name" class="sr-only">{{translate "Name"}}:</label>
                                  <input form="form" id="name" class="form-control" aria-describedby="nameHelp" placeholder="{{translate `Name`}}" name="name" autoFocus />

                                  <label for="email" class="sr-only">{{translate "E-mail"}}:</label>
                                  <input form="form" id="email" type="email" class="form-control" aria-describedby="emailHelp" placeholder="{{translate `Email`}}" name="email" />

                                    <div class="input-group" id="show_hide_password">
                                      <label for="password" class="sr-only">{{translate "Password"}}:</label>
                                      <input form="form" id="password" type="password" class="form-control" aria-describedby="passwordHelp" placeholder="{{translate `Password`}}" name="password">
                                        <div class="input-group-addon">
                                            <a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                                        </div>
                                    </div>

                                    <div class="input-group">
                                      <label for="email_kind" class="sr-only">{{translate "Most of my mail is…"}}</label>
                                        <select form="settingsForm" class="form-control custom-select" name="email_kind" id="email_kind">
                                          <option value="" selected disabled>{{translate "Most of my mail is…"}}</option>
                                          <option value="direct">{{translate "Direct (personal, office, one-to-one)"}}</option>
                                          <option value="transactional">{{translate "Transactional (notifications, apps)"}}</option>
                                          <option value="marketing">{{translate "Marketing (newsletters, adverts)"}}</option>
                                          </select>
                                          <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" type="button" data-toggle="tooltip" data-placement="top" title="{{translate `Different types of mail perform differently. This helps show the most relevant information.`}}">
                                                  <i class="far fa-question-circle"></i>
                                              </button>
                                          </div>
                                    </div>

                                    <div class="form-check custom-form-check">
                                        <input form="settingsForm" type="checkbox" class="form-check-input" name="subscribe_newsletter" id="subscribe_newsletter" />
                                        <label class="form-check-label" for="subscribe_newsletter">{{translate "Monthly newsletter"}}</label>
                                    </div>

                                    <input type="button" class="btn-sm btn-primary w-100" value="{{translate `Register`}}" id="submit" />

                            </div>
                            
                            <!-- Show telemetry notice if DNT is disabled -->
                            <script>
                            if (navigator.doNotTrack!=1) {
                                document.write('\
                                    <div class="card info">\
                                        <div class="card-body">\
                                            <h5 class="card-title"><i class="fa fa-info-circle"></i>{{translate `Telemetry enabled`}}</h5>\
                                            <p class="card-text">{{translate `Feature usage data is shared with a private Open Source analytics system to improve your experience and may be <a href="https://lightmeter.io/privacy-policy/">disabled</a> at any time`}}</p>\
                                        </div>\
                                    </div>\
                                ')
                            }
                            </script>    
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

        <footer id="registration-footer" class="mt-auto">
            <div class="container d-flex justify-content-center ">
                <div class="container-right">
                    <span>
                    Made with
                    <svg class="bi bi-heart-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                    </svg>
                    by <a href="https://lightmeter.io" target="_blank" data-toggle="tooltip" data-placement="top" title="Lightmeter website">Open Source professionals</a>
                    </span>
                </div>
                <div class="container-left dropdown" id="app-language">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                    </button>
                    <input form="settingsForm" name="app_language" type="hidden" id="app-language-hidden">
                    <div id="dropdown-menu-language" class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                    </div>
                </div>
            </div>
        </footer>

        <!-- Boostrap dependencies -->
        <script src="3rd/js/jquery-3.4.1.slim.min.js"></script>
        <script src="3rd/js/popper.min.js"></script>
        <script src="3rd/js/bootstrap.min.js"></script>

        <!-- App scripts -->
        <script src="js/app.js"></script>

        <!-- Lightmeter-hosted Matomo analytics -->
        <script type="text/javascript">
            var _paq = window._paq || [];
            _paq.push(['setCustomDimension', 1, '{{appVersion}}']);
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                var u="https://matomo.lightmeter.io/";
                _paq.push(['setTrackerUrl', u+'matomo.php']);
                _paq.push(['setSiteId', '3']);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
            })();
        </script>

        <script type="module">
            import {CreateDropDown} from "./js/dropdown_language.js";

            $(document).ready(function() {
                CreateDropDown();
                function submitRegisterForm() {
                    let registrationFormData = new FormData(document.getElementById("form"))

                    let settingsFormData = new FormData(document.getElementById("settingsForm"))

                    let emailKind = settingsFormData.get("email_kind")
                    settingsFormData.set("app_language", document.getElementById("app-language-hidden").value)

                    if (emailKind === null || emailKind.length == 0) {
                        alert("{{ translate `Please select an option for 'Most of my mail is' - see help for details` }}")
                        return
                    }

                    settingsFormData.append("email", registrationFormData.get("email"))

                    fetch(window.location.href, {method: 'post', body: new URLSearchParams(registrationFormData)})
                        .then(res => res.json())
                        .then(function (data) {
                            if (data == null) {
                                alert("{{ translate `Server Error!` }}")
                                return
                            }

                            if (data.Error.length > 0) {
                                let message = function () {
                                    // add hints of pwd weakness
                                    if (data.Detailed && data.Detailed.Sequence && data.Detailed.Sequence[0].pattern) {
                                        return "{{ translate `Error` }}: " + data.Error + ".\n" + "{{ translate `Vulnerable to` }}: " + data.Detailed.Sequence[0].pattern + '.'
                                    }

                                    return "{{ translate `Error` }}:" + data.Error
                                }()

                                alert(message)

                                return
                            }

                            fetch("/settings?setting=initSetup", {
                                method: 'post',
                                body: new URLSearchParams(settingsFormData)
                            }).then(function (data) {
                                // matomo registration success
                                _paq.push(['trackEvent', 'RegisterAdmin', 'success'])

                                // matomo newsletter signup requested
                                if (settingsFormData.has('subscribe_newsletter') && settingsFormData.get('subscribe_newsletter') == 'on') {
                                    _paq.push(['trackEvent', 'RegisterAdmin', 'newsletterOn'])
                                }
                                window.location.href = "/"
                            }).catch(function (err) {
                                alert('{{ translate `Settings Error on initial setup!` }}')
                                console.log(err)
                            })
                        }).catch(function (err) {
                        alert("{{ translate `Server Error!` }}")
                        console.log(err)
                    })
                }

                $("#submit").on("click", function (e) {
                    submitRegisterForm()
                })

            });
        </script>

        <noscript><p><img src="https://matomo.lightmeter.io/matomo.php?idsite=3&amp;rec=1" style="border:0;" alt="" /></p></noscript>
    </body>
</html>
